body {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 2em;
	max-width: 800px;
}

img {
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-left: 8px;
	vertical-align: middle;
	text-decoration: none;
}

h1 {
	margin-bottom: 0.5em;
}

#summary {
	font-size: 2em;
	font-weight: 200;
	margin-top: 0.1em;
}

#thinglist {
	font-size: 1.5em;
	font-weight: 300;
}

#thinglist li {
	margin-bottom: 0.4em;
}
