body {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 2em;
	margin-right: 2em;
	max-width: 800px;
}

@media screen and (max-width: 460px) {
	body {
		margin-left: 1em;
		margin-right: 1em;
	}

	#words {
		font-size: smaller;
	}

	#thinglist {
		padding-left: 20px;
	}
}

#buttons {
	display: inline-block;
}

img {
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-left: 8px;
	vertical-align: middle;
	text-decoration: none;
}

h1 {
	margin-bottom: 0.5em;
}

#summary {
	font-size: 2em;
	font-weight: 200;
	margin-top: 0.1em;
}

#thinglist {
	font-size: 1.5em;
	font-weight: 300;
}

#thinglist li {
	margin-bottom: 0.4em;
}

a:hover, a:visited, a:link, a:active {
	color: #2c3e50;
	text-decoration: none;
	font-weight: bolder;
}

a:hover {
	text-decoration: underline;
}
